.info_big_cont{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
    border: 1px solid #6b676745;
    border-radius: 7px;
}

.widgit_for_info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 20px;
    gap: 10px;
   cursor: pointer;
   transition: 1s;
}

.widgit_for_info:first-child{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.widgit_for_info:last-child{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.widgit_for_info:hover{
    animation: mymove 1s ease-in-out;
    background-color: #caec64;
}

@keyframes mymove {
    from {background-color: white;}
    to {background-color: #caec64;}
  }
.top_part_of_info{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon_dev_info{
    width: fit-content;
    height: fit-content;
    padding: 7px 7px;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_info{
    font-weight: 700;
    font-size: 17px;
}

.lower_part_of_info{
    display: flex;
    align-items: center;
    gap: 16px;
}

.rate_of_change{
    font-size: 14px;
    font-weight: 400;
}

.sells_info{
    font-size: 13px;
    font-weight: 400;
}